<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="/img/noun_541186_cc.png">
            </a>
            <form class="navbar-form navbar-left" method="post" action="/post">
                <div class="form-group"><input class="form-control" placeholder="Write a message" name="message"></div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
            </li>
        </ul>
    </div>
</nav>